.header-nav {
    height: 5rem;
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // falta hacer que header quede fijo
}
