.main-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 2em 1em;

}
.main-menu__checkbox:checked ~ .main-nav {
    display: block;
}
.main-menu__checkbox:checked + .main-menu__open {
    background: url(../images/icon-close.svg) no-repeat;
}
.main-menu {
    padding: 0;


    &__checkbox {
        display: none;
    }

    &__open {
        user-select: none;
        cursor: pointer;
        height: 40px;
        width: 50px;
        display: inline-flex;
        background: url(../images/icon-hamburger.svg) no-repeat;
    }

    &__item {
        display: block;
        text-align: center;
        padding: 1em;
        letter-spacing: 1px;

        &:nth-child(3) {
            margin-bottom: 1em;
        }

        &:nth-child(4) {
            border: 1px solid var(--neutral-light-gray);
        }
    }

    &__link {
        display: block;
    }
}