//Clases personalizadas
.sc-container-100 {
    width: 100%;
}
.sc-container-90 {
    width: 90%;
}
.sc-container-80 {
    width: 80%;
}
.l-center-block {
    margin-left: auto;
    margin-right: auto;
}
.l-center-content {
    text-align: center
}