//breakpoints
$breakpoints: (
    desktop: 64em
);


// Paleta d colores
:root {
    --primary-dark-violet: hsl(256, 26%, 20%);
    --primary-grayish-blue: hsl(216, 30%, 68%);
    //neutral
    --neutral-very-dark-violet: hsl(270, 9%, 17%);
    --neutral-dark-grayish-violet: hsl(273, 4%, 51%);
    --neutral-light-gray: hsl(0, 0%, 98%);
}

//tipografia
:root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --body-font-size: 13px;
    --small-font-size: .75rem;
    --smaller-font-size: .65rem;

    //desktop
    @include mq(desktop) {
        --h1-font-size: 2rem;
        --h2-font-size: 1.75rem;
        --body-font-size: 16px;
        --small-font-size: .75rem;
        --smaller-font-size: .65rem;
    }
    
    // font-family
    --heading-font: 'DM Serif Display', serif;
    --body-font: 'Karla', sans-serif;
}